
.html{
  box-sizing:border-box;
}
*,*::before,*::after{
  box-sizing:inherit;
}

body,p,h1,h2,h3,h4,ul{
  margin:0px;
  padding:0px;
}

:root{
  --accent-clr:white;
  --main-clr:green;
  --main-font:'Rye', cursive;

}
#content{
  height:100vh;
}
/** working on header now**/

.header-container{
  font-size:1.2rem;
  display:flex;
  justify-content:space-between;
  padding:1em 1.5em;
font-family: 'Rye', cursive;
  color:var(--main-clr);

}

.header-container a{
  margin-left:.833em;
}

/** work on about section**/
section.about:not(.footer-class){
background-image:url("../images/home2-image.jpg");
width:100%;
height:100%;
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
}

.about h1{
  font-size:2rem;
  color:var(--accent-clr);
  font-family: 'Rye', cursive;
  font-weight:bold;
  text-transform:capitalize;
}


/**end of about section**/
button{
  background-color:var(--main-clr);
  border:2px solid var(--accent-clr);
  padding:0.3em 0.5em;
  font-size:1.3rem;
  color:var(--accent-clr);
  transition:300ms background ease-in;
  margin-top:1rem;
}

button:hover{
  background-color:var(--accent-clr);
  border:2px solid var(--main-clr);
  color:var(--main-clr);
}
.bottom{
  padding-top:20em;
}
.top{
  margin-top:2em;
}

/**menu styling**/
.menu-container{
  width:90%;
  margin:auto;
  text-align:center;
  padding-bottom:2em;
}
.menu-container h1{
  color:var(--main-clr);
  font-family:var(--main-font);
}
.menu-heading{
  margin-top:2em;
  font-family:var(--main-font);
}

img{
  width:100%;
  height:250px;
}
.grid-container{
  margin:1.5em auto 0 auto;
  justify-content:left;
  column-gap:1em;
  row-gap:1em;
  width:80%;
  height:30%;
  display:grid;
  text-transform:capitalize;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(2,1fr);
}
.grid-container .name{
  font-size:1.1rem;
  font-family:var(--main-font)
}

.menu-content{
  background-image:linear-gradient(lightgreen 40%,brown);
}
